.DS_Store
*.pyc
mobile/encryptor/yarn.lock
rtc/node_modules
skaffold/run
skaffold/dev
auth2/public/YourOrgsLogo/*
!auth2/public/YourOrgsLogo/generic*
!auth2/public/YourOrgsLogo/key_*
auth2/.env
api/.env
web10-deploy/.env
