version: "3"

services:
  api:
    build: api
    volumes:
      - ./api/:/web10 
    ports:
      - "6000:80"
    environment:
      VIRTUAL_HOST: api.localhost
      MODE: jacobs_local
    command: ["uvicorn", "app.main:app", "--host", "0.0.0.0", "--port", "80", "--reload"]
    networks:
      default:
        aliases:
          - api.localhost
  auth:
    build: auth
    volumes:
      - ./auth:/frontend
      - node-modules:/frontend/node_modules
    command: ["npm", "run", "start"]
    environment:
      PORT: 80
      VIRTUAL_HOST: auth.localhost
      CHOKIDAR_USEPOLLING: "true"
      API: api.localhost 
    ports:
      - '3000:80'
  rtc:
    build: rtc
    volumes:
      - ./rtc:/rtc
      - rtc:/rtc/node_modules
    command: ["nodemon", "index.js"]
    environment:
      PORT: 80
      VIRTUAL_HOST: rtc.localhost
      CHOKIDAR_USEPOLLING: "true"
    ports:
      - '6363:80'
  crm:
    build: 
      context: .
      dockerfile: crm/Dockerfile
    volumes:
      - ./crm/:/crm/public
      - ./auth/public/sdk/:/crm/public/sdk    
    ports:
      - "7746:80"
    environment:
      VIRTUAL_HOST: crm.localhost
  docs:
    build: docs 
    volumes:
      - ./docs/:/docs/public
    ports:
      - "6969:80"
    environment:
      VIRTUAL_HOST: docs.localhost
  home:
    build: home 
    volumes:
      - ./home/:/home/public
    ports:
      - "6868:80"
    environment:
      VIRTUAL_HOST: home.localhost
  mail:
    build: 
      context: .
      dockerfile: mail/Dockerfile
    volumes:
      - ./mail/:/mail/public
      - ./auth/public/sdk/:/mail/public/sdk    

    ports:
      - "7171:80"
    environment:
      VIRTUAL_HOST: mail.localhost
  nginx-proxy:
    image: jwilder/nginx-proxy
    ports:
      - "80:80"
    volumes:
      - /var/run/docker.sock:/tmp/docker.sock:ro

volumes:
  node-modules:
  rtc: