<!-- footer.html -->

<div class="wrapper row4">
    <footer id="footer" class="hoc clear">
        <!-- ################################################################################################ -->
        <div class="one_third first">
            <h6 class="heading">Contact Us</h6>
            <p>You can contact us by sending us an email at the below email address.
                <br>Email : uncommoncoreapps@gmail.com
        </div>
        <div class="one_third">
            <h6 class="heading">Navigate Back</h6>
            <nav>
                <ul class="nospace">
                    <li><a href="index.html"><i class="fa fa-lg fa-home"></i></a></li>
                    <li><a href="#info">Info</a></li>
                    <li><a href="#team">Team</a></li>
                </ul>
            </nav>
            <!--<ul class="faico clear">
        <li><a class="faicon-facebook" href="#"><i class="fa fa-facebook"></i></a></li>
        <li><a class="faicon-twitter" href="#"><i class="fa fa-twitter"></i></a></li>
        <li><a class="faicon-dribble" href="#"><i class="fa fa-dribbble"></i></a></li>
        <li><a class="faicon-linkedin" href="#"><i class="fa fa-linkedin"></i></a></li>
        <li><a class="faicon-google-plus" href="#"><i class="fa fa-google-plus"></i></a></li>
        <li><a class="faicon-vk" href="#"><i class="fa fa-vk"></i></a></li>
      </ul>-->
        </div>
        <div class="one_third">
            <h6 class="heading">Philosophies</h6>
            <article>
                <h2 class="nospace font-x1"><a href="https://jacoby149.github.io/UCImages/pisa.png">Zero Dev Ops</a>
                </h2>
                <!--<time class="font-xs" datetime="2015"> 2015</time>-->
                <p>We don't have Dev Ops, we have a pipeline that takes care of the Dev Ops work.</p>
            </article>
        </div>
        <!-- ################################################################################################ -->
    </footer>
</div>

<!-- ################################################################################################ -->
<!-- ################################################################################################ -->
<!-- ################################################################################################ -->
<div class="wrapper row5">
    <div id="copyright" class="hoc clear">
        <!-- ################################################################################################ -->
        <p class="fl_left">Copyright &copy; 2020 - All Rights Reserved - <a href="#">Uncommon Core</a></p>
        <p class="fl_right"> Designed With <a target="_blank" href="https://www.os-templates.com/"
                title="Free Website Templates">OS Temp.</a></p>
        <!-- ################################################################################################ -->
    </div>
</div>