.contract{
  margin:20px;
  font-weight: bold;
}

.R .form-control.input{
  color:black;
}

.R .credential-form{
  width:320px;
  margin:auto;
  margin-top:70px;
  padding:10px;
  border: solid;
  border-width: 1px;
  border-radius: 8px;

}

.R.dark .credential-form {
  border-color:#566778;
}

.R.light .credential-form {
  border-color:#f9e7cf;
}

.statistic {
  display: inline-block;
  margin:10px 10px 0px 10px;
  padding: 0px 5px;
  font-style: italic;
  border: solid;
  border-width: 1px;
  border-radius: 8px;
}

.app-container {
  margin-top:12px;
}

.R.dark .statistic {
  border-color:#566778;
}

.R.light .statistic {
  border-color:#eeddcc;
}


.R.dark .box {
  border: solid;
  border-width: 1px;
  border-radius: 8px;
  border-color:#263748;
}

.center-container {
  width: 100%;
  text-align: center;
}

.R .cs-search .cs-search__input {
  color: black;
}

.R.dark strong {
  color: white;
}

.R.dark strong {
  color: white;
}

.R.dark small {
  color: #dddddd;
}

.R.dark .input.has-background-white {
  color: black;
}

/*ELIPSIS*/
.lds-ellipsis {
  display: inline-block;
  position: relative;
  width: 80px;
  height: 40px;
}
.lds-ellipsis div {
  position: absolute;
  width: 13px;
  height: 13px;
  border-radius: 50%;
  background: #ccc;
  animation-timing-function: cubic-bezier(0, 1, 1, 0);
}
.lds-ellipsis div:nth-child(1) {
  left: 8px;
  animation: lds-ellipsis1 0.6s infinite;
}
.lds-ellipsis div:nth-child(2) {
  left: 8px;
  animation: lds-ellipsis2 0.6s infinite;
}
.lds-ellipsis div:nth-child(3) {
  left: 32px;
  animation: lds-ellipsis2 0.6s infinite;
}
.lds-ellipsis div:nth-child(4) {
  left: 56px;
  animation: lds-ellipsis3 0.6s infinite;
}
@keyframes lds-ellipsis1 {
  0% {
    transform: scale(0);
  }
  100% {
    transform: scale(1);
  }
}
@keyframes lds-ellipsis3 {
  0% {
    transform: scale(1);
  }
  100% {
    transform: scale(0);
  }
}
@keyframes lds-ellipsis2 {
  0% {
    transform: translate(0, 0);
  }
  100% {
    transform: translate(24px, 0);
  }
}
