body{
  background-color:#000000;
  color:white;
  font-family: monospace;
}

.main{
  position:absolute;
  width:100%;
  margin:10px;
}

input,textarea,button{
  margin-bottom: 3px;
  background-color: black;
  color:lightgreen;
  font-family:monospace;
}
textarea {
  width: 100%;
  height: 200px;
}
