.modContact input,.modContact button{
  margin-right: 2px;
  margin-bottom:4px;
}

td {
  white-space: nowrap;
}

a {
  color: #126145;
}

button {
  background-color: #126145;
  color: white;
}

.jum {
  margin-left: 5vw;
  margin-bottom: 50px;
  width: 90vw;
}

.logo {
  width: 100vw;
  text-align: center;
}

.logo img {
  width: 300px;
}

.icon {
  position: absolute;
  top: 18px;
  left: 85%;
  font-size: 20px;
  color: black;
}

.alert {
  display: none;
}

.btn1 {
  margin-bottom: 20px;
}

.options {
  padding: 10px;
}

a.statusbutton {
  cursor: pointer;
}

footer {
  padding-bottom: 30px;
}

.red {
  background-color: #f05a341c !important;
}

.green {
  background-color: #3cb3711c !important;
}

.yellow {
  background-color: #f0ad4e1c !important;
}
