[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
uvicorn = "*"
gunicorn = "*"
fastapi = "*"
twilio = "*"
passlib = "*"
pymongo = "*"
pydantic = "*"
stripe = "*"
infisical = "*"
python-multipart = "*"

[dev-packages]

[requires]
python_version = "3.9"
